@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './../theme/animations.scss';

div.main-container {
    display: flex;
    padding: 5% 20%;
    color: rgb(163, 163, 163);
    gap: 8%;

    .left-container {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: sticky;
        top: 0;
        height: 100vh;

        img {
            border-radius: 10px;
            object-fit: cover;
        }

        svg {
            height: 14px;
            width: 14px;
            margin-right: 10px;
        }

        .details {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            h3 {
                margin: 30px 0 0;
            }

            p.header {
                margin-bottom: 10px;
            }

            p.align:hover {
                color: #fff;
                transition: all 0.2s ease;
                cursor: pointer;
            }
        }
    }

    .right-container {
        flex: 2;

        section:not(:last-child) {
            margin-bottom: 8vh;
        }

        .card {
            display: flex;
            border-radius: 10px;
            position: relative;
            gap: 1%;
            
            &:not(:last-child) {
                margin-bottom: 5vh;
            }

            .year {
                flex: 1;
            }

            .content {
                flex: 2;

                .summary {
                    margin-top: 2vh;
                }
            }
        }

       .card::before {
            content: "";
            position: absolute;
            inset: 0;
            background: transparent;
            z-index: -1;
            transition: all 0.2s ease;
        }

        .card:hover::before {
            inset: -20px;
            background: rgb(163, 163, 163, 0.05);
            border-radius: 10px;
        }
    }
}