/* You can add global styles to this file, and also import other style files */
@import './theme/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: flex;
}
  
a {
    text-decoration: none;
}
  
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg);
}

h3 {
    font-size: 3rem;
    color: #fff;
    line-height: 1;
}

p {
    font-size: 1rem;
    // text-align: justify;

    &.small {
        font-size: 0.875rem;
    }

    &.header {
        font-size: 1.25rem;
    }

    &.align {
        display: flex;
        align-items: center;
    }
}

.highlight {
    color: #fff;
}