@import './theme/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: flex;
}
  
a {
    text-decoration: none;
}
  
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg);
    color: var(--secondary-text);
    transition: background-color 1s ease, color 1s ease;
}

h3 {
    font-size: 3rem;
    color: var(--primary-text);
    line-height: 1;
}

p {
    font-size: 0.9375rem;

    &.small {
        font-size: 0.875rem;
    }

    &.header {
        font-size: 1.25rem;
    }

    &.align {
        display: flex;
        align-items: center;
    }
}

.highlight {
    color: var(--primary-text);
}